<h2>My Tasks</h2>

<ul>
  <li *ngFor="let task of tasks$ | async">

    <form #f="ngForm" (ngSubmit)="updateTask(task)">

      Title: <input #title="ngModel" type="text" name="title" [(ngModel)]="task.title" [disabled]="!task.isEditable" required/>
      <div *ngIf="title.invalid && title.errors.required">Title is required</div>
      <br>

      Content: <input #content="ngModel" type="text" name="content" [(ngModel)]="task.content" [disabled]="!task.isEditable" required/>
      <div *ngIf="content.invalid && content.errors.required">Content is required</div>
      <br>

      Due Date: <input #due_date="ngModel" type="text" name="due_date" [(ngModel)]="task.due_date" [disabled]="!task.isEditable" required/>
      <div *ngIf="due_date.invalid && due_date.errors.required">Due date is required</div>
      <br>

      <button *ngIf="!task.isEditable" (click)="task.isEditable=!task.isEditable">Edit</button>
      <button type="submit" *ngIf="task.isEditable" [disabled]="f.form.invalid">Save</button>
      <button type="button" (click)=deleteTask(task.id)>Delete</button>
    </form>

  </li>
</ul>

<h2>Create a Task</h2>
<form [formGroup]="task_form" (ngSubmit)="onSubmit()">

    <label for="title">Title</label>
    <input type="text" formControlName="title" required>
    <br>
    <label for="content">Content</label>
    <input type="text" formControlName="content" required>
    <br>
    <button type="submit" [disabled]="task_form.invalid">Add Task</button>
</form>
